[submodule "backend"]
	path = backend
	url = https://github.com/rifeapp/rife-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/rifeapp/rife-frontend.git

[submodule "backstage"]
	path = backstage
	url = https://github.com/rifeapp/backstage.git
